@model Company



@{
    ViewBag.Title = "Create Company";
}



    <form asp-controller="companies" asp-action="create" method="post">
        <div class="form-group row">
            <label asp-for="Name" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-6">
                <input asp-for="Name" class="form-control" placeholder="Company Name">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="CreationDate" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-6">
                <input asp-for="CreationDate" class="form-control" placeholder="Creation Date" />
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>