@model CompanyCreateViewModel

@{
    ViewBag.Title = "Create Company";
}


    <form asp-controller="companies" asp-action="create" method="post">
        <div class="form-group row">
            <label asp-for="Company.Name" class="col-sm-2 col-form-label">Company Name</label>
            <div class="col-sm-6">
                <input asp-for="Company.Name" class="form-control" placeholder="Company Name">
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Company.CreationDate" class="col-sm-2 col-form-label">Creation Date</label>
            <div class="col-sm-6">
                <input asp-for="Company.CreationDate" class="form-control" placeholder="Creation Date" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Office.City" class="col-sm-2 col-form-label">Office City</label>
            <div class="col-sm-6">
                <input asp-for="Office.City" class="form-control" placeholder="Office City" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Office.Country" class="col-sm-2 col-form-label">Office Country</label>
            <div class="col-sm-6">
                <input asp-for="Office.Country" class="form-control" placeholder="Office Country" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Office.Street" class="col-sm-2 col-form-label">Office Street</label>
            <div class="col-sm-6">
                <input asp-for="Office.Street" class="form-control" placeholder="Office Street" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Office.StreetNumber" class="col-sm-2 col-form-label">Office Street Number</label>
            <div class="col-sm-6">
                <input asp-for="Office.StreetNumber" class="form-control" placeholder="Office Street Number" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Office.IsHQ" class="col-sm-2 col-form-label">Office Is HQ</label>
            <div class="col-sm-6">
                <input asp-for="Office.IsHQ" class="form-control" placeholder="Office Is HQ" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </form>