

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <h1 class="alert-dark text-center">Welcome to the HR Management System!</h1>

    <h3 class="alert-info">
        You can perform all needed oparations via the navigation bar at the top of this page. Apart from viewing all companies and employees,
        you also have the possibility to add, update and delete them.
    </h3>
</body>
</html>

@section Scripts {
    <script src="~/js/CustomScript.js"></script>
}